body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:231px;
  width:300px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:231px;
  width:124px;
  height:40px;
  font-size:18px;
  text-align:center;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:317px;
  width:154px;
  height:45px;
  font-size:18px;
  text-align:center;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:317px;
  width:300px;
  height:40px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:415px;
  width:150px;
  height:40px;
  font-size:20px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:88px;
  width:129px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:2px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:150px;
  width:982px;
  height:1px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:71px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:71px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:11px;
  width:189px;
  height:50px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
